{% extends "base.html" %} 
{% block titulo %} 
  {{ titulo }} 
{% endblock %}
{% block content %}
<h2 class="h2 d-flex justify-content-center">Atualizar produto</h2>
<br />
<br />
<div class="h-100 d-flex justify-content-center align-items-center">
  <form action="" method="POST" class="text-primary">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-8">
        <label>Código de Barras</label>
        <input
          type="number"
          name="cod_bar"
          class="form-control"
          placeholder="EAN-13"
          maxlength="13"
          value="%{{ produto.cod_bar }}%"
        />
      </div>
      <div class="form-group col-4">
        <label>Data Cadastro</label>
        <input
          type="date"
          name="data_cadastro"
          max="3000-12-31"
          min="1000-01-01"
          class="form-control"
          value="{{ produto.data_cadastro }}"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="alert alert-danger col-8">
        {% if form.cod_bar.errors %}
        <strong>{{ form.cod_bar.errors | escape }}</strong>
        {% endif %}
      </div>
      <!-- </div>
    <div class="form-row"> -->
      {% if form.data_cadastro.errors %}
      <div class="alert alert-danger col-4">
        <strong>{{ form.data_cadastro.errors | escape }}</strong>
      </div>
      {% endif %}
    </div>
    <div class="form-row">
      <div class="col-12">
        <label>Descrição</label>
        <input
          type="text"
          name="descricao"
          class="form-control"
          placeholder="Descrição"
          value="{{ produto.descricao }}"
        />
      </div>
    </div>
    <div class="form-row">
      {% if form.descricao.errors %}
      <div class="alert alert-danger col-12">
        <strong>{{ form.descricao.errors | escape }}</strong>
      </div>
      {% endif %}
    </div>
    <div class="form-row">
      <div class="col-12">
        <label>Marca</label>
        <input
          type="text"
          name="marca"
          class="form-control"
          placeholder="Marca"
          value="{{ produto.marca }}"
        />
      </div>
    </div>
    <div class="form-row">
      {% if form.marca.errors %}
      <div class="alert alert-danger col-12">
        <strong>{{ form.marca.errors | escape }}</strong>
      </div>
      {% endif %}
    </div>
    <div class="form-row">
      <div class="alert alert-danger col-4">
        {% if form.custo.errors %}
        <strong>{{ form.custo.errors | escape }}</strong>
        {% endif %}
      </div>
      <div class="alert alert-danger col-4">
        {% if form.venda.errors %}
        <strong>{{ form.venda.errors | escape }}</strong>
        {% endif %}
      </div>
      <div class="alert alert-danger col-4">
        {% if form.estoque.errors %}
        <strong>{{ form.estoque.errors | escape }}</strong>
        {% endif %}
      </div>
    </div>
    <br />
    <br />
    <center class="text-danger">
      {% if erro  %}
      <h5>{{ erro }}</h5>
      {% endif %}
    </center>
    <div class="d-flex justify-content-around">
      <div class="col-5">
        <a href="consultas/produtos/">
          <button type="button" class="btn btn-outline-danger col-12">Cancelar</button>
        </a>
      </div>
      <button type="submit" class="btn btn-outline-primary col-5">Cadastrar</button>
    </div>
  </form>
</div>
{% endblock %}
