{% extends "base.html" %} {% block titulo %} Clientes {% endblock %} {% block content %}
<h2 class="container">Cadastro de Clientes</h2>
<br />
<br />
<div class="d-flex justify-content-center align-items-center">
  <form action="/registerclientes/" method="POST" class="text-primary">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-2">
        <label for="tipo_pessoa">Tipo</label>
        <select name="tipo_pessoa" id="tipo_pessoa" class="form-control">
          <option selected></option>
          <option>Fisica</option>
          <option>Juridica</option>
        </select>
      </div>
      <div class="col-7">
        <label>Número do Documento</label>
        <input
          type="text"
          name="cpf_cnpj"
          value="{% if form.cpf_cnpj.value %}{{ form.cpf_cnpj.value }}{% endif %}"
          class="form-control"
          placeholder="CPF/CNPJ"
        />
      </div>
      <div class="col-3">
        <label>RG</label>
        <input
          type="text"
          name="rg"
          value="{% if form.rg.value %}{{ form.rg.value }}{% endif %}"
          class="form-control"
          placeholder="RG"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-10">
        <label>Nome</label>
        <input
          type="text"
          name="nome"
          value="{% if form.nome.value %}{{ form.nome.value }}{% endif %}"
          class="form-control"
          placeholder="Nome"
        />
      </div>
      <div class="form-group col-2">
        <label for="sexo">Sexo</label>
        <select name="sexo" id="sexo" class="form-control">
          <option>Masculino</option>
          <option>Feminino</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label>Data de nascimento</label>
        <input
          type="date"
          name="data_nasc"
          max="3000-12-31"
          min="1000-01-01"
          class="form-control"
          value="{% if form.data_nasc.value %}{{ form.data_nasc.value }}{% endif %}"
        />
      </div>
      <div class="form-group col-4">
        <label for="estado_civil">Estado Civil</label>
        <select name="estado_civil" id="estado_civil" class="form-control">
          <option selected>----</option>
          <option>Solteiro(a)</option>
          <option>Casado(a)</option>
          <option>Divorciado(a)</option>
          <option>Viúvo(a)</option>
        </select>
      </div>
      <div class="col-4">
        <label>CEP</label>
        <input type="text" name="cep" class="form-control" placeholder="CEP" />
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col-5">
        <label>Endereço</label>
        <input
          type="text"
          name="endereco"
          value="{% if form.endereco.value %}{{ form.endereco.value }}{% endif %}"
          class="form-control"
          placeholder="Endereço"
        />
      </div>
      <div class="col-5">
        <label>Complemento</label>
        <input
          type="text"
          name="complemento"
          value="{% if form.complemento.value %}{{ form.complemento.value }}{% endif %}"
          class="form-control"
          placeholder="Complemento"
        />
      </div>
      <div class="col-2">
        <label>Número</label>
        <input
          type="number"
          name="numero"
          value="{% if form.numero.value %}{{ form.numero.value }}{% endif %}"
          class="form-control"
          placeholder="Número"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-5">
        <label>Bairro</label>
        <input
          type="text"
          name="bairro"
          value="{% if form.bairro.value %}{{ form.bairro.value }}{% endif %}"
          class="form-control"
          placeholder="Bairro"
        />
      </div>
      <div class="col-4">
        <label>Cidade</label>
        <input
          type="text"
          name="cidade"
          value="{% if form.cidade.value %}{{ form.cidade.value }}{% endif %}"
          class="form-control"
          placeholder="Cidade"
        />
      </div>
      <div class="form-group col">
        <label for="state">Estado</label>
        <select
          name="estado"
          id="estado"
          value="{% if form.estado.value %}{{ form.estado.value }}{% endif %}"
          class="form-control"
        >
          <option selected></option>
          <option>AC</option>
          <option>AL</option>
          <option>AP</option>
          <option>AM</option>
          <option>BA</option>
          <option>CE</option>
          <option>DF</option>
          <option>ES</option>
          <option>GO</option>
          <option>MA</option>
          <option>MT</option>
          <option>MS</option>
          <option>MG</option>
          <option>PA</option>
          <option>PB</option>
          <option>PR</option>
          <option>PE</option>
          <option>PI</option>
          <option>RJ</option>
          <option>RN</option>
          <option>RS</option>
          <option>RO</option>
          <option>RR</option>
          <option>SC</option>
          <option>SP</option>
          <option>SE</option>
          <option>TO</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <label>Telefone</label>
        <input
          type="tel"
          name="tel"
          value="{% if form.tel.value %}{{ form.tel.value }}{% endif %}"
          class="form-control"
          placeholder="Telefone"
        />
      </div>

      <div class="form-group col-2">
        <label for="tipo_tel">Tipo</label>
        <select name="tipo_tel" id="tipo_tel" class="form-control">
          <option selected></option>
          <option>Residencial</option>
          <option>Celular</option>
          <option>Comercial</option>
        </select>
      </div>

      <div class="col-6">
        <label>E-mail</label>
        <input
          type="email"
          name="email"
          value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
          class="form-control"
          placeholder="E-mail"
        />
      </div>
    </div>
    <br />
    <br />
    <center class="text-danger">
      <h5>{{ erro }}</h5>
    </center>
    <div class="d-flex justify-content-around">
      <div class="col-5">
        <a href="/clientes">
          <button type="button" class="btn btn-outline-danger col-12">Cancelar</button>
        </a>
      </div>
      <button type="submit" class="btn btn-outline-primary col-5">Cadastrar</button>
    </div>
  </form>
</div>
{% endblock %}
