{% extends "base.html" %}

{% block titulo %}
 Pedidos
{% endblock  %}

{% block content %}
    <h2 class="container">{{ titulo }}</h2>
    <br>
    <br>
    <div class="container">
      <form action="/registerpedidos/" method="POST" class="text-primary">
        {% csrf_token %}
        <div class="form-group col">
            <label for="id_clientes">ID cliente</label>
            <select name="id_cliente" id="id_cliente" class="form-control">
                <option selected></option>
                {% for cliente in clientes %}
                    <option>{{ cliente.id }}</option>
                {% endfor %}
            </select>
        </div>
          <div class="col-8">
            <label>CPF/CNPJ</label>
            <input type="text" name="cpf_cnpj" class="form-control" placeholder="CPF/CNPJ">
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <input type="text" name="tipo_pessoa" class="form-control" placeholder="Fisica/Juridica">
          </div>
          <div class="form-group">
            <label>Pagamento</label>
            <input type="date" name="pagamento" max="3000-12-31" min="1000-01-01" class="form-control">
          </div>
          <div class="col-6">
            <label>Observações</label>
            <input type="text" name="observacao" class="form-control" placeholder="observacao">
          </div>
          <div class="col-6">
            <label>Vendedor</label>
            <input type="text" name="vendedor" class="form-control" placeholder="Vendedor">
          </div>
        </div>
        <br>
        <br>
        <h2 class="container" >Itens do Pedido</h2>
        <br>
        <br>
        <div class="container">
            <!--
            <div class="col-6">
              <label>Tipo</label>
              <input type="text" id=tipo_prod name="tipo_prod" class="form-control" placeholder="Tipo do produto">
            </div>
            <div class="col-6">
              <label>Produto/Serviço</label>
              <input type="text" id= descricao name="descricao" class="form-control" placeholder="descricao">
            </div>
            <div class="col-4">
              <label>Quantidade</label>
              <input type="number" name="quantidade" class="form-control" placeholder="quantidade">
            </div>
            <div class="col-4">
              <label>Valor Unitário</label>
              <input type="number" name="unitario" class="form-control" placeholder="Valor unitário">
            </div>
            <div class="col-4">
              <label>Valor Total</label>
              <input type="number" name="total" class="form-control" placeholder="Valor total">
            </div>      -->
          <table id="tb_items" class="table table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Valor unitário</th>
                </tr>
              </thead>
              <tbody>
                <tr id="tritem1" class="tritems" >
                  <td><input type="text" id="tipo_prod1" name="tipo_prod1"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao1" name="descricao1"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade1" name="quantidade1" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario1" name="unitario1" placeholder="Unitário">
                </tr>
                <tr id="tritem2" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod2" name="tipo_prod2"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao2" name="descricao2"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade2" name="quantidade2" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario2" name="unitario2" placeholder="Unitário">
                </tr>
                <tr id="tritem3" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod3" name="tipo_prod3"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao3" name="descricao3"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade3" name="quantidade3" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario3" name="unitario3" placeholder="Unitário">
                </tr>
                <tr id="tritem4" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod4" name="tipo_prod4"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao4" name="descricao4"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade4" name="quantidade4" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario4" name="unitario4" placeholder="Unitário">
                </tr>
                <tr id="tritem5" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod5" name="tipo_prod5"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao5" name="descricao5"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade5" name="quantidade5" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario5" name="unitario5" placeholder="Unitário">
                </tr>
                <tr id="tritem6" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod6" name="tipo_prod6"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao6" name="descricao6"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade6" name="quantidade6" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario6" name="unitario6" placeholder="Unitário">
                </tr>
                <tr id="tritem7" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod7" name="tipo_prod7"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao7" name="descricao7"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade7" name="quantidade7" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario7" name="unitario7" placeholder="Unitário">
                </tr>
                <tr id="tritem8" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod8" name="tipo_prod8"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao8" name="descricao8"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade8" name="quantidade8" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario8" name="unitario8" placeholder="Unitário">
                </tr>
                <tr id="tritem9" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod9" name="tipo_prod9"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao9" name="descricao9"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade9" name="quantidade9" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario9" name="unitario9" placeholder="Unitário">
                </tr>
                <tr id="tritem10" class="tritems" style="display: none">
                  <td><input type="text" id="tipo_prod10" name="tipo_prod10"  placeholder="Tipo"></td>
                  <td><input type="text" id="descricao10" name="descricao10"  placeholder="Produto"></td>
                  <td><input type="text" id="quantidade10" name="quantidade10" placeholder="Quantidade"></td>
                  <td><input type="text" id="unitario10" name="unitario10" placeholder="Unitário">
                </tr>              
              <br/>
              <br/>
              <button type="button" onclick="CreateItem()">Add Item</button>
              </tbody>
              </table>      
        </div>
        <br>
        <br>
        <br>
        <center class="text-danger">
        {% if erro %}
            <h5>{{ erro }}</h5>
        {% endif %}
        </center>
        <center>
          <input type='submit' class="btn text-white bg-primary" value='Cadastrar'/>
        </center>
      </form>
    </div>
{% endblock  %}
