{% extends "base.html" %} {% block titulo %} Serviços {% endblock %} {% block content %}
<h2 class="main-title">{{ titulo }}</h2>
<div class="container">
  {% csrf_token %}
  <div class="container">
    <form action="/registerservicos/" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="col-8">
                <label>Descrição do serviço</label>
                <input id="descricao" name="descricao" type="text" class="form-control" placeholder="servico">
            </div>
            <br/>
            <br/> 
            <div class="form-group col-2 " >
              <label for="sexo">Disponível ?</label>
              <select name="ativo" id="sexo" class="form-control">
                <option>Sim</option>
                <option>Não</option>
                <option>Sim</option>
              </select>
            </div> 
            <br/>
            <br/>           
            <center>
              <input type="submit" class="btn text-white bg-primary" value="Cadastrar" />
            </center>
        </div>
        <center class="text-danger">
        {% if erro %}
            <h5>{{ erro }}</h5>
        {% endif %}
        </center>
    </form>
  </div>
</div>
{% endblock %}
