{% extends "base.html" %}

<!-- Title -->
{% block titulo %}
    Pedidos
{% endblock  %}

<!-- Main -->
{% block content%}
    <center>
      <br><br>
      <h1>Lista de Agendamentos</h1>
    </center>
    <br><br>
    <table class="table container">
        <tbody>
          <tr class="text-primary">
            <td>ID</td>
            <td>Pet</td>
            <td>Responsável</td>
            <td>Servico</td>
            <td>data</td>
            <td>hora</td>
            <td>
              <a href="{% url 'registeragenda' %}">
                <button type="button" class="btn btn-success col-8" name="button">
                  Novo
                </button>
            </td>
          </tr>
          {% for agendamento in agendamentos %}
            <tr>
              <td>{{ agendamento.id }}</td>
              <td>{{ agendamento.animal }}</td>
              <td>{{ agendamento.proprietario }}</td>
              <td>{{ agendamento.serv_desc }}</td>
              <td>{{ agendamento.data }}</td>
              <td>{{ agendamento.hora }}</td>
              <td>
                <a href="details/{{ agendamento.id }}/ ">
                  <button class="btn btn-outline-primary col-8" type="button" name="button">
                    Detalhes
                  </button>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br>
{% endblock %}
