{% extends "base.html" %}

<!-- Title -->
{% block titulo %} Entradas {% endblock %}

<!-- Main -->
{% block content%}
<center>
  <br /><br />
  <h1 class="main-title">{{ titulo }}</h1>
</center>
<br /><br />
<div class="col-9 search-div">
  <form method="GET" id="search-form" class="form-inline md-form form-sm active-pink active-pink-2 mt-2">
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="{{ placehld }}" id="search" name="search"  >
    <i class="material-icons search-btnx" aria-hidden="true" id="search-btn">search</i>
  </form>
  <br/>
</div>
<table class="table container">
  <tbody>
    <tr class="table-text-header">
      <td>Data</td>
      <td>Produto</td>
      <td>Quantidade</td>
      <td>Valor unitário</td>
      <td>Valor Total</td>
    </tr>
    {% for consulta in consultas %}
    <tr>
      <td>{{consulta.pedido.emissao}}</td>
      <td>{{ consulta.produto.descricao }}</td>
      <td>{{ consulta.quantidade }}</td>
      <td>{{ consulta.valor_unitario }}</td>
      <td>{{ consulta.valor_total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if consultas.has_previous %}
        <a href="?page={{consultas.previous_page_number }}"><i class="material-icons" id="arrow-style" >keyboard_arrow_left</i></a>
    {% endif %}

    {% if consultas.has_previous or consultas.has_next %}
    <span class="current">
      {{ consultas.number }} de {{ consultas.paginator.num_pages }}
    </span>
    {% endif %}

    {% if consultas.has_next %}
        <a href="?page={{consultas.next_page_number }}"><i class="material-icons" id="arrow-style" >keyboard_arrow_right</i></a>
    {% endif %}
  </span>
</div>
<br /><br />
{% endblock %}
