<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      defer
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
      defer
    ></script>
    <title class="container">PetTech - {% block titulo %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <a class=" text-primary navbar-brand" href="/">PetTech</a>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if nbar == 'produtos' %}active{% endif %}">
              <a class=" text-primary nav-link" href="{% url 'produtos' %}">Produtos</a>
            </li>
            <li class="nav-item {% if nbar == 'clientes' %}active{% endif %}">
              <a class=" text-primary nav-link" href="{% url 'clientes' %}">Clientes</a>
            </li>
            <li class="nav-item {% if nbar == 'fornecedores' %}active{% endif %}">
              <a class=" text-primary nav-link" href="{% url 'fornecedores' %}"
                >Fornecedores</a
              >
            </li>
            <li class="nav-item {% if nbar == 'pedidos' %}active{% endif %}">
              <a class=" text-primary nav-link" href="{% url 'pedidos' %}">Pedidos</a>
            </li>
            <li class="nav-item {% if nbar == 'agendamentos' %}active{% endif %}">
              <a class=" text-primary nav-link" href="#">Agendamentos</a>
            </li>
          </ul>

          <a
            role="button"
            href="{% url 'logout' %}"
            class="btn btn-outline-primary"
            >Sair</a
          >
        </div>
      </nav>
      <!-- <nav class="navbar navbar-expand-lg navbar" >
        <a class="navbar-brand" href="{% url 'index' %}">PET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item center" href="{% url 'produtos' %}">Produtos</a>
                    <a class="dropdown-item" href="{% url 'clientes' %}">Clientes</a>
                    <a class="dropdown-item" href="{% url 'fornecedores' %}">Fornecedores</a>
                    <a class="dropdown-item" href="{% url 'pedidos' %}">Pedidos</a>
                    <a class="dropdown-item" href="#">Agendamentos</a>
                </li>
            </ul>
            <a role="button" href="{% url 'logout' %}" class="btn btn-outline-primary">Sair</a>
        </div>
        </nav> -->
    </header>
    <main style="height: calc(100% - 300px);">
      {% if mensagem %}
      <div class="alert alert-success" role="alert">
        {{ mensagem }}
      </div>
      {% endif %} {% block content%} {% endblock %}
    </main>
    <footer>
      <hr />
      <p class="text-center">
        Todos os direitos reservados Entre Patas e Mimos 2019
      </p>
      {% block footer %} {% endblock %}
    </footer>
    {% endblock %}
  </body>
</html>
