{% extends "base.html" %}

<!-- Title -->
{% block titulo %} Clientes {% endblock %}

<!-- Main -->
{% block content%}
<center>
  <br /><br />
  <h1>Lista de Clientes</h1>
</center>
<br /><br />
<table class="table container">
  <tbody>
    <tr class="text-primary">
      <td>ID</td>
      <td>Nome</td>
      <td>CPF</td>
      <td>Bairro</td>
      <td>
        <a href="{% url 'registerclientes' %}">
          <button type="button" class="btn btn-success col-5" name="button">
            Novo
          </button>
        </a>
      </td>
      <td>
      </td>
    </tr>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf_cnpj }}</td>
      <td>{{ cliente.bairro }}</td>
      <td>
        <a href="details/{{ cliente.id }}/ ">
          <button class="btn btn-outline-primary col-5" type="button" name="button">
            Detalhes
          </button>
        </a>      
      </td>
      <td>
        <a href="updatecliente/{{ cliente.id }} ">
          <button class="btn btn-primary col-5" type="button" name="button">
            Alterar
          </button>
        </a>          
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br /><br />
{% endblock %}
