{% extends "base.html" %}

<!-- Title -->
{% block titulo %}
    Fornecedores
{% endblock  %}

<!-- Main -->
{% block content%}
    <h2 class="container"   >PetShop - Entre Patas e mimos</h2>
    <center>
      <a href="{% url 'registerfornecedores' %}">
        <button type="button" class="btn text-white bg-primary col-7" name="button">
          Cadastrar novo Fornecedor
        </button>
      </a>
      <br><br>
      <h1>Lista de Fornecedores</h1>
    </center>
    <br><br>
    <table class="table container">
        <tbody>
          <tr class="text-primary">
            <td>ID</td>
            <td>Nome Fantasia</td>
            <td>CPF/CNPJ</td>
            <td>Bairro</td>
            <td> </td>
          </tr>
          {% for fornecedor in fornecedores %}
            <tr>
              <td>{{ fornecedor.id }}</td>
              <td>{{ fornecedor.nome_fantasia }}</td>
              <td>{{ fornecedor.cpf_cnpj }}</td>
              <td>{{ fornecedor.bairro }}</td>
              <td>
                <a href="{{ fornecedor.url }}">
                  <button class="btn text-white bg-primary" type="button" name="button">Detalhes</button>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br>
{% endblock %}
