{% extends "base.html" %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Entre Patas e Mimos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% block body %}
    <header>
    </header>
    <div class="container mt-4">
      <form action="submit" , method="POST">
        {% csrf_token %}
        <h2>Login - Entre Patas e Mimos</h2>
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" class="form-control" placeholder="Usuário" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="username">Senha:</label>
          <input type="password" class="form-control" placeholder="Senha" id="password" name="password">
        </div>
        {% for message in messages %}
          <div class="alert alert-danger">
            <strong>Erro</strong> {{ message }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" >Logar</button>
      </form> 
    </div>
    {% endblock  %}
</body>
</html>