{% extends "base.html" %}

<!-- Title -->
{% block titulo %} Serviços {% endblock %}

<!-- Main -->
{% block content%}
<center>
  <br /><br />
  <h1>Serviços disponíveis</h1>
  <br/>
  {% for message in messages %}
    <label for="message">{{message}}</label>
  {% endfor %}
</center>
<br /><br />
<table class="table container">
  <tbody>
    <tr class="text-primary">
      <td>ID</td>
      <td>Descricao do Serviço</td>
      <td>Ativo ?</td>
      <td>
        <a href="{% url 'registerservicos' %}">
          <button type="button" class="btn btn-success col-4" name="button">
            Novo
          </button>
        </a>
      </td>
      <td></td>
    </tr>
    {% for servico in servicos %}
    <tr>
      <td>{{ servico.id }}</td>
      <td>{{ servico.descricao }}</td>
        {% if servico.disponivel %}
          <td>Sim</td>
        {% else %}
          <td>Não</td>
        {% endif %}
      <td>
        <form method="POST" action="servicedel/{{ servico.id }} ">
          {% csrf_token %}
          <button type="submit" class="btn text-white bg-danger col-4" name="button">
            Deletar
          </button>
      </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br /><br />
{% endblock %}
