body {
  min-height: 100vh;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #3c5ae8;
}

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: auto;
}

.logo {
  background-image: url("../img/PetShopLogo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form-group {
  margin-bottom: 0 !important;
}

.alert ul {
  padding: 0 0 0 5px !important;
  list-style: none !important;
}

.alert-danger {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 10px 0 0 0 !important;
  max-height: 50px !important;
  color: #f00 !important;
}

.main-title {
  font: normal 50px Arial;
  color: #007bff !important;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb;
  text-align: center;
}

.search-btnx {
  margin-left: 20px;
  top: 12px;
  right: 10px;
  cursor: pointer;
  color: rgb(20, 20, 20);
}

/* Paginação */

.pagination {
  margin-bottom: 5px;
}

.step-links {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.step-links .current {
  margin-left: 10px;
  margin-right: 10px;
}

.table-text-header {
  font-style: italic;
  font-size: 17px;
  color: #007bff !important;
  border-block-end-color: #f00;
}

#arrow-style {
  margin-top: 15px;
  color: rgb(29, 83, 163);
}

#create-icon,
#detail-icon,
#add-icon {
  color: rgba(24, 71, 199, 0.932);
}

.drop-style {
  margin-left: 20px;
  margin-bottom: 10px;
}

.search-div {
  margin-left: 80px;
}

.search-icon {
  margin-left: 120px;
  align-items: baseline;
  color: rgb(10, 10, 10);
}

.error-message {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Arial;
  color: #f00;
}
