body {
  min-height: 100vh;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #3C5AE8 ;
}

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: auto;
}
